.list {
    display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: 20px;
    margin-right: auto;
}
.text {
    font-weight: 700;
    color: rgb(170, 4, 4);
    margin-left: 20px;
}