.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 48px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: rgb(155, 204, 195);
}

.btn_svg {
    fill: rgb(170, 4, 4);
}